<a href="https://colab.research.google.com/github/adnaneaabbar/international-space-station/blob/master/iss.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install pytrends
from pytrends.request import TrendReq
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from IPython.display import Image

# International Space Station Current Location

The ISS programme is a joint project between five participating space agencies: NASA (United States), Roscosmos (Russia), JAXA (Japan), ESA (Europe), and CSA (Canada). The ownership and use of the space station is established by intergovernmental treaties and agreements.

The ISS serves as a microgravity and space environment research laboratory in which crew members conduct experiments in biology, physics, astronomy, and other fields.

# Who are the astronauts on board right now?

In [2]:
import requests
import json
r = requests.get(url='http://api.open-notify.org/astros.json')
#Storing response
with open('astros.json', 'w') as outfile:
    json.dump(r.json(), outfile)

In [3]:
#Loading response
astros_df = pd.read_json('/content/astros.json')
astros_df.head()

   message  number                                         people
0  success       5      {'craft': 'ISS', 'name': 'Chris Cassidy'}
1  success       5  {'craft': 'ISS', 'name': 'Anatoly Ivanishin'}
2  success       5        {'craft': 'ISS', 'name': 'Ivan Vagner'}
3  success       5        {'craft': 'ISS', 'name': 'Doug Hurley'}
4  success       5        {'craft': 'ISS', 'name': 'Bob Behnken'}

So there are 5 astronauts at the moment in the ISS.

# Where is the International Space Station right now ?

In [4]:
r = requests.get(url='http://api.open-notify.org/iss-now.json')
#Storing response
with open('iss-now.json', 'w') as outfile:
    json.dump(r.json(), outfile)
# Making a copy
location = r.json()

In [5]:
#Loading response
location_df = pd.read_json('/content/iss-now.json')
location_df.head()

           message  iss_position           timestamp
latitude   success      -27.8120 2020-06-29 04:25:11
longitude  success      149.7638 2020-06-29 04:25:11

## Let's plot the ISS current location

In [6]:
#!apt-get install libproj-dev proj-data proj-bin
#!apt-get install libgeos-dev
#!pip install cython
#!pip install cartopy
import cartopy.crs as ccrs

# Set the dimension of the figure
plt.figure(figsize=(16, 8))